<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="btn-group">
        <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/home">Auto Trade</a>
        <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/Muti-day">Bulk check</a>
        <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/reduce-count">Reduce Count</a>
        <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/Yearly-Check">Yealy-Check</a>

      </div>
    </div>

  </div>
</nav>

<div class="container-fluid">

  <router-outlet></router-outlet>


</div>