<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <h2>Date</h2>
      <label>{{marketObject.date | date}}</label>
    </div>
    <div class="col-2">
      <h2>Open</h2>
      <label>{{marketObject.open}}</label>
    </div>
    <div class="col-2">
      <h2>High</h2>
      <label>{{marketObject.high}}</label>
    </div>
    <div class="col-2">
      <h2>Low</h2>
      <label>{{marketObject.low}}</label>
    </div>
    <div class="col-2">
      <h2>UB</h2>
      <label>{{marketObject.UB}}</label>
    </div>
    <div class="col-2">
      <h2>LB</h2>
      <label>{{marketObject.LB}}</label>
    </div>
    <div class="col-2">
      <h2>Status</h2>
      <label>{{getStatus(marketObject.status)}}</label>
    </div>
    <div class="col-2">
      <h2>Target</h2>
      <label>{{marketObject.target}}</label>
    </div>
    <div class="col-2">
      <h2>Stoploss</h2>
      <label>{{marketObject.stopLoss}}</label>
    </div>
    <div class="col-2">
      <h2>Trade Price</h2>
      <label>{{marketObject.priceToTrade}}</label>
    </div>
    <div class="col-2">
      <h2>Is first Trade</h2>
      <label>{{marketObject.isFirstTrade}}</label>
    </div>
    <div class="col-2">
      <h2>All time high</h2>
      <label>{{marketObject.allHigh}}</label>
    </div>
    <div class="col-2">
      <h2>All time low</h2>
      <label>{{marketObject.allLow}}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let comment of marketObject.comments">{{comment}}</li>

      </ul>
    </div>
  </div>
</div>