<!-- <div class="row"><H2>Points Earned</H2>
    <div class="col-12">
      <h3>
        {{customParseFloat(totalPointsEarned)}} * 25 ={{customParseFloat(totalPointsEarned * 25)}}
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <h2>Date</h2>
      <label>{{MB.date | date}}</label>
    </div>
    <div class="col-2">
      <h2>Open</h2>
      <label>{{MB.open}}</label>
    </div>
    <div class="col-2">
      <h2>High</h2>
      <label>{{MB.high}}</label>
    </div>
    <div class="col-2">
      <h2>Low</h2>
      <label>{{MB.low}}</label>
    </div>
    <div class="col-2">
      <h2>UB</h2>
      <label>{{MB.UB}}</label>
    </div>
    <div class="col-2">
      <h2>LB</h2>
      <label>{{MB.LB}}</label>
    </div>
    <div class="col-2">
      <h2>Status</h2>
      <label>{{getStatus(MB.status)}}</label>
    </div>
    <div class="col-2">
      <h2>Target</h2>
      <label>{{MB.target}}</label>
    </div>
    <div class="col-2">
      <h2>Stoploss</h2>
      <label>{{MB.stopLoss}}</label>
    </div>
    <div class="col-2">
      <h2>Trade Price</h2>
      <label>{{MB.priceToTrade}}</label>
    </div>
    <div class="col-2">
      <h2>Is first Trade</h2>
      <label>{{MB.isFirstTrade}}</label>
    </div>
    <div class="col-2">
      <h2>All time high</h2>
      <label>{{MB.allHigh}}</label>
    </div>
    <div class="col-2">
      <h2>All time low</h2>
      <label>{{MB.allLow}}</label>
    </div>
    <div class="col-2">
      <h2>SL Order status</h2>
      <label>{{getStatus(MB.slOrderStatus)}}</label>
    </div>
    <div class="col-2">
      <h2>SL order placed</h2>
      <label>{{MB.slOrderPlaced}}</label>
    </div>
    <div class="col-2">
      <h2>SL order price</h2>
      <label>{{MB.slPriceToTrade}}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul class="list-group">

        <li class="list-group-item" *ngFor="let comment of MB.comments"
          [ngClass]="{'my_class': getExecPresent(comment) === true}">
          <div *ngIf="getExecPresent(comment)" class="alert alert-success" role="alert">
            {{comment}}

          </div>
          <div *ngIf="!getExecPresent(comment)" class="alert alert-light" role="alert">
            {{comment}}

          </div>
        </li>
      </ul>
    </div>
  </div> -->
